<h2>{{turista.nombre}} Detalles</h2>
<div><span>id: </span>{{turista.id}}</div>
<div><span>nombre: </span>{{turista.nombre}}</div>
<div>
  <label>nombre:
    <input [(ngModel)]="turista.nombre" placeholder="Ingrese el nombre de turista">
  </label>
</div>

<h2>Turistas mock</h2>
<ul class="turistas">
  <li *ngFor="let turista of turistas" [class.selected]="turista === turistaSeleccionado" (click)="onSelect(turista)">
    <span class="badge">{{turista.id}}</span> {{turista.nombre}}
  </li>
</ul>

<div *ngIf="turistaSeleccionado">
  <h2>{{turistaSeleccionado.name | uppercase}} Detalles</h2>
  <div><span>id: </span>{{turistaSeleccionado.id}}</div>
  <div>
    <label>nombre:
      <input [(ngModel)]="turistaSeleccionado.nombre" placeholder="nombre">
    </label>
  </div>
</div>